<!--show.ejs--><h2>Adivinanza</h2>
<form method="get" action="/quizes/<%= quiz.id%>/answer">
 <h5>Tema:<%= quiz.tema %></h5>
 <p>Pregunta: <%= quiz.pregunta %>
   <input type="text" name="respuesta" value="Texto"/>
   <input type="submit" value="Enviar"/>
 </p></form>
 <p><a href="/quizes/<%=quiz.id%>/comments/new"><button>Nuevo comentario</button></a></p>
<p>Comentarios:</p>
<%for(index in quiz.Comments){%>
   <%if(quiz.Comments[index].publicado || session.user){%>
	<p>- <%=quiz.Comments[index].texto%> 
	   <%if(session.user && !quiz.Comments[index].publicado){%>
	       <a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish">
	       <button>Publicar</button></a>
	   <%}%>
	</p>
   <%}%>	
<%}%>